@model FiveStarDemo.Models.FiveStarApplicantInformation

@{
    ViewBag.Title = "FrontDeskPortal_All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Front Desk Portal - Search All Applicants</h2>

<div ng-app="FSD">
    <div ng-controller="FrontDeskPortalViewController">
        <hr>
        <div><input type="text" placeholder="Search Applicant" ng-model="searchApplicant" /></div>
        <hr>
        <div class="card" ng-repeat="item in AAList.AllApplicantProfiles | filter : searchApplicant">
            <img class="card-img" src="~/Content/Images/5Star_CardPhoto.PNG" alt="5 Star Resident Profile" style="width:20%">
            <div class="card-container">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>SSN </th>
                        <th>First Name </th>
                        <th>Last Name </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><label>{{item.AppInfo_ID}}</label></td>
                        <td><label>({{item.AppInfo_SSN}})</label></td>
                        <td><label>{{item.AppInfo_Fname}}</label></td>
                        <td><label>{{item.AppInfo_Lname}}</label></td>
                        <td>
                </table>
                <div class="card-footer">
                    <a ng-href="@Url.Content("~/FiveStarApplicantInformation/Edit/"){{item.AppInfo_ID}}">Edit</a> |
                    <a ng-href="@Url.Content("~/FiveStarApplicantInformation/Details/"){{item.AppInfo_ID}}">Details</a> |
                    <a ng-href="@Url.Content("~/FiveStarApplicantInformation/Delete/"){{item.AppInfo_ID}}">Delete</a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>