
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron-fsv">
    <div class="container text-center">
        <h2>Five Star Veterans Center - Support System Application</h2>
        @Html.Partial("_LoginPartial")
        <hr>
    </div>
</div>

       